

<h1>Sumar numeros Get</h1>

<ul>
    <li>
        <a asp-controller="Matematicas" asp-action="SumarNumerosPost">Sumar numeros Post</a>
    </li>
    <li>
        @Html.ActionLink("Menu", "Menu", "Matematicas")
    </li>
</ul>




@ViewData["NUMEROS"]


@ViewData["SUMA"]


