<h1>Controlador POST</h1>

<form method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control" />
    <label>Email</label>
    <input type="email" name="email" class="form-control" />
    <label>Edad</label>
    <input type="number" name="edad" class="form-control" />

    <button type="submit" class="btn btn-success">Enviar informacion</button>
</form>

<h1 style="color: blue">@ViewData["DATOS"]</h1>





