

<h1>Vista Controlador</h1>

<h1>@ViewData["DATOS"]</h1>




<ul>
    <lil>
        <a asp-controller="Informacion" asp-action="Index">Index</a>
    </lil>
    <li>
        <a asp-controller="Informacion" asp-action="ControladorVista">Controlador Vista</a>
    </li>
</ul>